build
_build
.cache
.clang-formatted
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs
dist
downloads
*.egg
*.egg-info
eggs
.eggs
env
.env
ENV
flame*.html
htmlcov
.installed.cfg
*junk*
.make.*
*.manifest
metacells/should_check_avx2.py
metacells/*.so
.mypy_cache/
nosetests.xml
parts
*.pdf
pip-delete-this-directory.txt
pip-log.txt
_pycache__
*py.class
*.py[cod]
.pytest_cache
.Python
.python-version
sdist
*.spec
.*.sw*
tags
target
timing.csv
.tox
var
venv
.venv
vignettes/*_files/*
vignettes/*.h5*
vignettes/Manual_Analysis.ipynb
vignettes/*.original
vignettes/*.rst
vignettes/Seurat_Analysis.ipynb
*.zip
