build
.clang-formatted
coverage
.coverage*
dist
*.egg-info
.eggs
flame*.html
junk*
metacells/*.so
metacells/version.py
metacells/should_check_avx2.py
.nfs*
*.npy
__pycache__
sphinx/generated
sphinx/timing_script.rst
.*.swo
.*.swp
tags
timing*.csv
.tox
vignettes/*_files/*
vignettes/*.h5*
vignettes/*.rst
vignettes/.ipyn*
vignettes/*.original
