build
.clang-formatted
coverage
.coverage
dist
docs/build
docs/source/timing_script.rst
*.egg-info
.eggs
flame.html
junk*
metacells/*.so
metacells/version.py
.nfs*
*.npy
__pycache__
.*.swo
.*.swp
tags
timing.csv
.tox
