[MASTER]
persistent=no
load_plugins=pylint_strict_informational

[MESSAGES CONTROL]

enable=useless-suppression

disable=C0330,R0801,
        c-extension-no-member,
        fixme,
        global-statement,
        inherit-non-class,
        invalid-unary-operand-type,
        line-too-long,
        missing-module-docstring,
        multiple-statements,
        no-member,
        too-few-public-methods,
        too-many-arguments,
        too-many-lines,
        too-many-locals,
        unsubscriptable-object,
        unsupported-assignment-operation,
        wrong-import-order,

[STRING]
check-quote-consistency=yes

[BASIC]
good-names=X,k,n,m,O_N,O_N_Log_N,by,of,to,version,S,am,be,M,N,T
