[MASTER]
jobs=0
persistent=no

[MESSAGES CONTROL]

disable=C0330,
        global-statement,
        line-too-long,
        no-member,
        too-few-public-methods,
        too-many-arguments,
        wrong-import-order,

[STRING]
check-quote-consistency=yes

[BASIC]
good-names=X
