include metacells/extension.cpp
include metacells/*/py.typed
include metacells/py.typed
include pybind11/include/pybind11/*
include pybind11/include/pybind11/*/*
include tests/*.py
include tox.ini
exclude sphinx/*
exclude vignettes/*
